h1 {
  width: 40rem;
  max-width: 80%;
  margin: 5rem auto;
}


.userInventory {
  margin: auto;
  display: flex;
  background-color: rgb(68, 68, 68);
  width: 80%;
}

.col-md-2, .col-2 {
  padding: .3rem;
  overflow: hidden;
  /* background-color: rgb(158, 102, 211) */
} 

.card {
  color: black;
  /* overflow: hidden; */
  height: 100%;
  
}

.card-title {
  font-size: .8rem;
  height: auto;
}

.card-text {
  font-size: .8rem;
  bottom: 0;
}